.body{
    width: 80%;
    margin: auto;
}
.header{
    width: auto;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: #7fffd4;
    background-repeat: no-repeat;
    background-size: cover;

}

.div-bottom{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 12px;
}

.buttom{
    padding: 12px;
    margin-left: 12px;
    background-color: #53e0b1;
    font-size: 18px;
    color: #535252;
    border: none;
    transition: .3s ease-in-out;
    
}

.buttom:hover{
    border: 2px solid #18d483;
    color: rgba(0, 0, 0, 0.712);
    
}